@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { -webkit-tap-highlight-color: transparent; scroll-behavior: smooth; }
  body { @apply bg-stone-50 text-stone-900; }
}
